.index-article-container {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.article-item {
    color: #ffffff;
    flex-shrink: 0;
    margin: 1em;
    padding: 1em 1em 2em 1em;
    width: 70%;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    background: #b2abdf4d;
    -webkit-box-shadow: 0 0 0.6em #2F464E;
    -moz-box-shadow: 0 0 0.6em #2F464E;
    box-shadow: 0 0 0.6em #2F464E;
}

.article-title {
    font-size: 1.8em;
    -webkit-transition: font-size 0.4s;
    -moz-transition: font-size 0.4s;
    -ms-transition: font-size 0.4s;
    -o-transition: font-size 0.4s;
    transition: font-size 0.4s;
}

.article-title:hover {
    font-size: 2em;
}

.article-wrapper {
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.article-content {
    color: white;
    max-height: 10em;
    overflow: hidden;
}

.article-time {
    color: white;
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.article-tags-container {
    color: #ffffff;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.article-tag {
    display: block;
    background: #bfbfbf44;
    font-size: 12px;
    padding: 0.2em;
    margin: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

.single-article-item {
    color: #ffffff;
    flex-shrink: 0;
    margin: 1em;
    padding: 1em 1em 2em 1em;
    width: 70%;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    background: #b2abdf4d;
    -webkit-box-shadow: 0 0 0.6em #2F464E;
    -moz-box-shadow: 0 0 0.6em #2F464E;
    box-shadow: 0 0 0.6em #2F464E;
}

.single-article-container {
    justify-content: flex-start;
    align-items: center;
}

.single-article-title {
    font-size: 1.8em;
    margin: 0 auto;
}

.single-article-content {
    color: white;
}

.new-comment-form {
    width: 80%;
    color: #ffffff;
    flex-shrink: 0;
    padding: 0 0 0 1em;
}

.comment-container {
    width: 70%;
    padding: 1em;
    color: #ffffff;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.comment-right-container {

}

.new-comment-wrapper {
    width: 70%;
    padding: 1em;
    max-height: 10em;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    background: #b2abdf4d;
    -webkit-box-shadow: 0 0 0.6em #2F464E;
    -moz-box-shadow: 0 0 0.6em #2F464E;
    box-shadow: 0 0 0.6em #2F464E;
    overflow: hidden;
}

.new-comment-avatar-wrapper {
    flex-shrink: 1;
    padding: 0.5em;
    margin: 0 1em 0 0;
}

.comment-avatar-wrapper {
    flex-shrink: 1;
    padding: 0.5em;
    margin: 0 1em 0 0;
}

.new-comment-button {
    padding: 0.6em;
}

.new-comment-content {
    min-height: 5em;
}

.comment-bubble {
    color: #000000cc;
    background-color: #c7d9e361;
    padding: 0 1em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.comment-bubble:after {
    content: '';
    position: absolute;
    right: 100%;
    top: 15px;
    width: 20px;
    height: 20px;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-width: 13px;
    border-bottom-color: currentColor;
    border-radius: 0 0 0 40px;
    color: #c7d9e361;
}