.index-article-container {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.article-item {
    flex-shrink: 0;
    margin: 1em;
    padding: 1em 1em 2em 1em;
    width: 70%;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    background: #b2abdf4d;
    -webkit-box-shadow: 0 0 0.6em #2F464E;
    -moz-box-shadow: 0 0 0.6em #2F464E;
    box-shadow: 0 0 0.6em #2F464E;
}

.article-title {
    font-size: 1.8em;
    -webkit-transition: font-size 0.4s;
    -moz-transition: font-size 0.4s;
    -ms-transition: font-size 0.4s;
    -o-transition: font-size 0.4s;
    transition: font-size 0.4s;
}

.article-title:hover {
    font-size: 2em;
}

.article-wrapper {
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.article-content {
    color: white;
    max-height: 10em;
    overflow: hidden;
}

.article-time {
    color: white;
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.article-tags-container {

}