.header-filter {
    position: fixed !important;
    height: 42px;
    width: 100%;
    z-index: 9;
    background: #ffffff;
    opacity: 0.6;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    height: 42px;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    /*background: rgba(197,196,196,0.31);*/
    /*-webkit-box-shadow: 0 0.1em 0.5em #2F464E;*/
    /*-moz-box-shadow: 0 0.1em 0.5em #2F464E;*/
    /*box-shadow: 0 0.1em 0.5em #2F464E;*/
}

.search-container {
    padding: 0 1em 0 0;
    justify-content: flex-end;
    align-items: center;
}

.search-container > form {
    margin: 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-container {
    justify-content: flex-start;
    align-items: center;
    padding: 0 2em;
}

.nav-container > a {
    text-decoration: none;
}

.nav-item {
    color: #ffffffff;
    padding: 0 1em;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.nav-item-selected {
    background: rgba(83, 164, 238, 0.48) !important;
}

.nav-item:hover {
    background: rgba(83, 164, 238, 0.48) !important;
}

.header-logo {
    padding: 0 2em;
    color: #ffffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-right-container {
    justify-content: flex-end;
    align-items: center;
}

.user-status {
    padding: 0 2em 0 1em;
    color: #ffffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-input {
    height: 80%;
    min-width: 20em;
    padding: 0.3em;
    font-size: 14px;
    -webkit-border-radius: 0.3em 0 0 0.3em;
    -moz-border-radius: 0.3em 0 0 0.3em;
    border-radius: 0.3em 0 0 0.3em;
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 0;
    border: #bfbfbf solid 0;
    /*-webkit-transition: border 0.4s;*/
    /*-moz-transition: border 0.4s;*/
    /*-ms-transition: border 0.4s;*/
    /*-o-transition: border 0.4s;*/
    /*transition: border 0.4s;*/
}

.search-input:focus {
    outline: none !important;
    border: #1da1f2 solid 0;
}

.search-button {
    height: 80%;
    -webkit-border-radius: 0 0.3em 0.3em 0;
    -moz-border-radius: 0 0.3em 0.3em 0;
    border-radius: 0 0.3em 0.3em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 1px solid #1da1f2;
    color: #1da1f2;
    cursor: pointer;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.search-button:hover {
    background-color: #d6e3f2;
}

.user-tooltip-container {
    justify-content: flex-end;
    align-content: center;
}

.user-tooltip-container > a {
    margin: 0;
    padding: 0;
}

.new-article-tooltip {
    text-decoration: none;
    padding: 0 1em;
    color: #ffffff;
    align-items: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.new-article-tooltip:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropdown-container {
    min-width: 6em !important;
    max-width: 10em !important;
    background: #ffffff00 !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    justify-content: center;
    align-items: center;
}

.dropdown-item {
    padding: 0.4em;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    background: #ffffff00;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.dropdown-item:hover {
    background: rgba(83, 164, 238, 0.48) !important;
}

.dropdown-item > div {
    color: #ffffff;
    text-decoration: none;
}