body {
    background: url("/static/img/pic1.jpg") 0 / cover fixed;
    margin: 0;
    padding: 0;
}

.blur:before {
    background: url("/static/img/pic1.jpg") 0 / cover fixed;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    margin: -30px;
    z-index: -1;
}

.left-container {
    flex-grow: 1;
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 0.2em 0.6em #2F464E;
    -moz-box-shadow: inset 0 0.2em 0.6em #2F464E;
    box-shadow: inset 0 0.2em 0.6em #2F464E;
}

.hidden {
    display: none !important;
}

.expanded {
    width: 100% !important;
}

.right-container {
    justify-content: flex-start;
    align-content: center;
    flex-grow: 1;
    width: 40%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background: rgba(197, 196, 196, 0.31);*/
    -webkit-box-shadow: -0.5em 0 1em #2F464E;
    -moz-box-shadow: -0.5em 0 1em #2F464E;
    box-shadow: -0.5em 0 1em #2F464E;
}

.login-container {
    justify-content: center;
    margin: 0 auto 5em auto;
    padding-top: 1em;
    max-width: 90%;
    align-items: center;
}

.message-container {
    justify-content: center;
    width: 100%;
    position: absolute !important;
    bottom: 2%;
    background: #fcffb9;
    opacity: 0.9;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

.register-container {
    margin: 0 auto;
    max-width: 50%;
    align-items: center;
}