body {
    background: #1da1f2;
    margin: 0;
    padding: 0;
}

.flex-container-column {
    display: flex !important;
    flex-direction: column !important;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex-container-row {
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content-container {
    margin: 0 0;
    padding: 0 0;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.left-container {
    flex-grow: 1;
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.right-container {
    justify-content: flex-start;
    align-content: center;
    flex-grow: 1;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    opacity: 0.95;
    -webkit-box-shadow: -0.5em 0 1em #2F464E;
    -moz-box-shadow: -0.5em 0 1em #2F464E;
    box-shadow: -0.5em 0 1em #2F464E;
}

.login-container {
    justify-content: center;
    margin: 0 auto 5em auto;
    padding-top: 1em;
    max-width: 90%;
    align-items: center;
}

.message-container {
    justify-content: center;
    width: 100%;
    position:absolute;
    bottom: 2%;
    background: #fcffb9;
    opacity: 0.9;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

.register-container {
    margin: 0 auto;
    max-width: 50%;
    align-items: center;
}