.input-wrapper {
    display: block;
    position: relative;
    margin: 0.8em auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inline-input-wrapper {
    display: inline-block !important;
    margin: 0 1em 1em 0 !important;
}

.text-input {
    max-width: 10em;
    padding: 0.8em 2em 0.8em 0.8em;
    font-size: 14px;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 0;
    border: #bfbfbf solid 1px;
    -webkit-transition: border 0.4s;
    -moz-transition: border 0.4s;
    -ms-transition: border 0.4s;
    -o-transition: border 0.4s;
    transition: border 0.4s;
}

.text-input:focus {
    outline: none !important;
    border: #1da1f2 solid 1px;
}

.text-input-error {
    border: red solid 1px !important;
    -webkit-box-shadow: 0 0 0.5em red;
    -moz-box-shadow:  0 0 0.5em red;
    box-shadow:  0 0 0.5em red;
}

.text-input-ok {
    border: green solid 1px !important;
    -webkit-box-shadow: 0 0 0.5em green;
    -moz-box-shadow:  0 0 0.5em green;
    box-shadow:  0 0 0.5em green;
}

.text-input-longer {
    max-width: 20em !important;
}

.error-x:after {
    position: absolute;
    top: 1.1em;
    right: 1em;
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    content: '\f00d';
    color: red;
}

.ok-tick:after {
    position: absolute;
    top: 1.1em;
    right: 1em;
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    content: '\f00c';
    color: green;
}

.basic-button {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    cursor: pointer;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.basic-button:hover {
    background-color: #d6e3f2;
}

.login-button {
    padding: 0.95em 0.8em 0.8em 0.8em;
}

.register-button {
    padding: 0.95em 0.8em 0.8em 0.8em;
    width: 100%;
}